<%# <p id="notice"><%= notice %>

<h1>Gigs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th>Area</th>
      <th>Tickets</th>
      <th>Price</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gigs.each do |gig| %>
      <tr>
        <td><%= gig.name %></td>
        <td><%= gig.date %></td>
        <td><%= gig.area %></td>
        <td><%= gig.tickets %></td>
        <td><%= gig.price %></td>
        <td><%= gig.user.username %></td>
        <td><%= link_to 'Show', gig %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


